.nav.items h3 {
    font-size: 1.7rem;
    margin-left: 1.8rem;
}

span.negative {
    color: #CC0000;
    font-weight: bold;
}

span.positive {
    color: #008000;
    font-weight: bold;
}

a.wmn-icon-link {
    color: #333;
    text-decoration: none;
}

span.wmn-icon,
span.wmn-icon:hover {
    font-family: 'luma-icons', sans-serif;
    vertical-align: middle;
}

span.wmn-print::before {
    content: '\e624';
    font-family: 'luma-icons', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.block p.wmn-address span,
.block div.wmn-box span {
    display: block;
}

.wmn-print-order {
    margin-top: 3.5rem;
}

.wmn-totals {
    float: right;
    text-align: right;
    width: 48%;
}

.wmn-totals .wmn-box:nth-of-type(1) {
    font-weight: bold;
}

.wmn-table th:last-of-type,
.wmn-table th:nth-last-of-type(2),
.wmn-table td:last-of-type,
.wmn-table td:nth-last-of-type(2) {
    text-align: right;
}

.wmn-view-all {
    display: inline-block;
    float: right;
}
