<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="requestaccount" frontName="requestaccount">
            <module name="Winman_Bridge"/>
        </route>
        <route id="customerportal" frontName="customerportal">
            <module name="Winman_Bridge"/>
        </route>
    </router>
</config>
